version: "3.9"

services:
  backend:
    build: .
    container_name: suspicious-login-backend
    ports:
      - "8000:8000"
    depends_on:
      - redis

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
